<h1>Let's create a new Task</h1>

<%= form_for @task do |f| %>
  <%= f.label :title, "Enter a Title"  %>
  <%= f.text_field :title %>

  <%= f.label :details, "Task Details?" %>
  <%= f.text_field :details %>

  <%= f.submit %>
<% end %>

